
#infoContentBox {
    width: 100%;
    height: 100%;
    position: relative;
}

#infoContentBox a {
    color: black;
}

#infoTitleBox {
    position: absolute;
    top: 3%;
    left: 45%;
}

#infoTitleBox > h1 {
    font-size: 30px;
    font-weight: 600;
}

#infoSelectBox {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 13%;
    left: 64%;
}

#infoSelectBox select {
    height: 30px;
}

#infoSelectBox select[name=status] {
    width: 212px;
    margin-top: 5px;
}

#infoSelectBox input {
    height: 30px;
}

#infoSearchBox {
    margin-right: 25px;
}

#infoUpdateBox {
    margin-top: -5px;

}

#infoListBox {
    position: absolute;
    width: 70%;
    margin-left: 21%;
    top: 20%;
}

#infoListBox input[type=checkbox] {
    width: 18px;
    height: 18px;
}

#infoListBox table {
    width: 100%;
    font-size: 20px
}

#infoListBox th {
    border-bottom: 3px solid #18214F;
    border-collapse: collapse;
    table-layout: fixed;
    height: 40px;
    font-weight: 650;
    text-align: center;
    vertical-align: middle;

}

#infoListBox td {
    border-bottom: 2px solid #18214F;
    border-collapse: collapse;
    table-layout: fixed;
    height: 40px;
    text-align: center;
    vertical-align: middle;

}


#infoNaviBox {
    position: absolute;
    top: 80%;
    left: 50%;
}

.naviPage {
    font-size: 25px;
    padding: 9px;
}

.naviPage-active {
    color: red;
    font-size: 30px;
    font-weight: 600;
}


#searchBtn, #allModifyBtn {
    width: 60px;
    height: 30px;
    border: 0;
    color: white;
    background-color: #18214F;
}

#searchBtn:hover {
    background-color: #bebebe;
}


#allModifyBtn:hover {
    background-color: #bebebe;
}

#detailBtn {
    background-color: #18214F;
    color: white;
    height: 25px;
}

#detailBtn:hover {
    background-color: #bebebe;
    border: 0;

}


#memManageSelectBox {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 13%;
    left: 66%;
}

#memManageSelectBox select {
    height: 30px;
}

#memManageSelectBox select[name=status] {
    width: 95.25px;
    margin-top: 5px;
}

#memManageSelectBox input {
    height: 30px;
}

#allDeleteBtn {
    width: 80px;
    height: 30px;
    border: 0;
    color: white;
    background-color: #18214F;
}

#allDeleteBtn:hover {
    background-color: #bebebe;
}
#noContent{color: red;margin-top: -350px}
