* {text-decoration: none;}
a{
    color: black;
}
#infoDetailBox {width: fit-content;height: 60%;margin-left: 550px;padding: 50px 0 50px 0;}
.infoInputBox {width: 400px;height: 36px;border: 1px solid gray;border-radius: 8px;margin: 8px 0 20px 0;padding-top: 4px;padding-left: 10px;}
.infoValueBox {width: 390px;height: 24px;border: 1px solid gray;border-radius: 8px;margin: 8px 0 20px 0;padding-top: 10px;padding-left: 10px;}
#infoTitle {text-align: center;margin-bottom: 20px;font-size: 20px;font-weight: 600;}
#adminListBtn{width: 100px;height: 35px;border-radius: 20px;border: 0;color: white;background-color: #18214F;}
#adminModifyBtn{width: 100px;height: 35px;border-radius: 20px;border: 0;color: white;background-color: red;margin-left: 100px; margin-top: 15px}
#adminRemoveBtn{width: 100px;height: 35px;border-radius: 20px;border: 0;color: white;background-color: red; margin-top: 15px}
#adminCancelBtn{width: 100px;height: 35px;border-radius: 20px;border: 0;color: white;background-color: #18214F;margin-left: 210px;margin-top: -35px;}
#adminListBtn:hover{background-color: #bebebe;}
#adminModifyBtn:hover{background-color: #bebebe;}
#adminCancelBtn:hover{background-color: #bebebe;}
#adminRemoveBtn:hover{background-color: #bebebe;}

.infoListTd{border-top : 1px solid lightgray;border-bottom: 1px solid lightgray;border-collapse : collapse;text-align: center;text-align: center;table-layout: fixed;margin-top: 10px;height: 35px}
.infoListTh{border-top : 1px solid lightgray;border-bottom: 1px solid lightgray;border-collapse : collapse;text-align: center;text-align: center;table-layout: fixed;margin-top: 10px;background-color: gainsboro;border-top-color: white;height: 35px}
#searchBtn{width: 60px;height: 30px;border-radius: 20px;border: 0;color: white;background-color: #18214F;}
#searchBtn:hover{background-color: #bebebe;}
#allModifyBtn{width: 80px;height: 30px;border-radius: 20px;border: 0;color: white;background-color: #18214F;}
#allModifyBtn:hover{background-color: #bebebe;}
#allDeleteBtn{width: 80px;height: 30px;border-radius: 20px;border: 0;color: white;background-color: #18214F;}
#allDeleteBtn:hover{background-color: #bebebe;}
#infoListBox{position: relative;margin-left: 250px;width: 960px;height: 800px;}
#infoListTitle{position: absolute;width: 300px;margin: 30px 400px;}
#infoListTitle h1{font-size: 30px;}
#selectList{height: 27px;}
#status,#grade{height: 27px;width: 85px}
#keywordInput{height: 25px;}
#choiceBox{position:absolute;margin-left: 700px;top: 85px;width: 600px}
#infoListTable{position: absolute;margin-left: 250px;top: 180px;height: 700px}
#infoNav{position: absolute;margin-left:470px;top: 650px;}
.thInput{width:50px;margin: 0 5px;}

#infoDetailBox {width: fit-content;height: 60%;margin-left: 550px;padding: 50px 0 50px 0;}
.infoValueBox {width: 390px;height: 24px;border: 1px solid gray;border-radius: 8px;margin: 8px 0 20px 0;padding-top: 10px;padding-left: 10px;}
#infoTitle {text-align: center;margin-bottom: 20px;font-size: 20px;font-weight: 600;}
.infoModifyBox{width: 400px;height:36px;border: 1px solid red;border-radius: 8px;margin: 8px 0 20px 0;padding-top: 4px;padding-left: 10px;}
#noContent{color: red;margin-top: -480px}

#allModify{margin-top: 5px;margin-left: 110px}
.naviPage{    color: black;
    padding: 8px;
    margin-right: 10px;font-size: 20px}
.naviPage-active{
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 10;
}
