#infoContentBox {margin-top: 100px;position: relative;}
#infoTitleBox {position: absolute;margin-top: -20px;left: 15%;}
#infoTitleBox > h1 {font-size: 23px;font-weight: 600;}
#infoSelectBox {position: absolute;display: flex;flex-direction: row;left: 45%;}
#infoSelectBox select {height: 30px;}
#infoSelectBox select[name=status] {width: 160px;margin-top: 5px;}
#infoSelectBox input {height: 30px;}
#infoSearchBox {margin-right: 15px;}
#infoUpdateBox {margin-top: -5px;}
#infoListBox {position: absolute;width: 70%;margin-left: 15%;margin-top: 70px;}
#infoListBox input[type=checkbox] {width: 18px;height: 18px;}
#infoListBox table {width: 100%;font-size: 14px}
#infoListBox th {border-bottom: 3px solid rgba(0,0,0,0.2);border-collapse: collapse;table-layout: fixed;height: 40px;font-weight: 600;text-align: center;vertical-align: middle;}
#infoListBox td {border-bottom: 2px solid rgba(0,0,0,0.2);border-collapse: collapse;table-layout: fixed;height: 40px;text-align: center;vertical-align: middle;}
#infoNaviBox {position: absolute;margin-top: 38%;left: 47%;}
/*내비 다른페이지*/
.naviPage {font-size: 17px;padding: 9px;}
/*내비 현재페이지*/
.naviPage-active {padding: 5px 10px;font-size: 17px;font-weight: 600;border: 1px solid rgba(0, 0, 0, 0.7);color: #0185FE;}
#delBtnBox{position: absolute;margin-top: 3%;left: 79%;}
/*상세보기 페이지 css*/
#memManageSelectBox {position: absolute;display: flex;flex-direction: row;left: 43%;}
#memManageSelectBox select {height: 30px;}
#memManageSelectBox select[name=status] {width: 95.25px;margin-top: 5px;}
#memManageSelectBox input {height: 30px;}
#noContent {margin-top: -350px;font-weight: 650;}
.detailBtn {border: 1px solid rgba(0, 0, 0, 0.7);background-color: #ffffff;width: 80px;height: 25px;border-radius: 8px;}
#memberSearchBox {margin-left: -10px;margin-right: 20px;}
#memberUpdateBox {margin-top: -5px;}

#infoDetailBox { margin-top: 5%;margin-left: 40%;}
.infoInputBox {width: 400px;height: 36px;border: 0;border-bottom: 1px solid rgba(0, 0, 0, 0.2);margin: 8px 0 20px 0;padding-top: 4px;padding-left: 10px;pointer-events : none;}
.infoInputBox:focus {outline: none;}
.infoModifyInputBox:focus {outline: none;}
.infoModifyInputBox{width: 400px;height: 36px;border: 0;border-bottom: 1px solid rgba(0, 0, 0, 0.2);margin: 8px 0 20px 0;padding-top: 4px;padding-left: 10px;}
#infoTitle { font-size: 20px;font-weight: 600;margin: 80px 180px 40px;}
#infoDetailBox > label {font-size: 16px;font-weight: 500;color:rgba(0, 0, 0, 0.4); }
#adminBtnBox {margin-left: 160px;margin-top: 15px;padding-bottom: 30px}
#stdBtnBox{margin-left: 120px;margin-top: 15px;padding-bottom: 30px}
.modifySelect {height: 30px;width: 100px;}
