
#infoContentBox {
    /*width: 100%;*/
    /*height: 100%;*/
    margin-top: 100px;
    position: relative;
}

#infoContentBox a {
    color: black;
}

#infoTitleBox {
    position: absolute;
    top: 3%;
    left: 45%;
}

#infoTitleBox > h1 {
    font-size: 30px;
    font-weight: 600;
}

#infoSelectBox {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    left: 57%;
}

#infoSelectBox select {
    height: 30px;
}

#infoSelectBox select[name=status] {
    width: 212px;
    margin-top: 5px;
}

#infoSelectBox input {
    height: 30px;
}

#infoSearchBox {
    margin-right: 25px;
}

#infoUpdateBox {
    margin-top: -5px;

}

#infoListBox {
    position: absolute;
    width: 70%;
    margin-left: 21%;
margin-top: 160px;
}

#infoListBox input[type=checkbox] {
    width: 18px;
    height: 18px;
}

#infoListBox table {
    width: 100%;
    font-size: 20px
}

#infoListBox th {
    border-bottom: 3px solid rgba(0,0,0,0.2);
    border-collapse: collapse;
    table-layout: fixed;
    height: 40px;
    font-weight: 650;
    text-align: center;
    vertical-align: middle;

}

#infoListBox td {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    border-collapse: collapse;
    table-layout: fixed;
    height: 40px;
    text-align: center;
    vertical-align: middle;

}


#infoNaviBox {
    position: absolute;
margin-top: 700px;
    left: 50%;
}

/*다른페이지*/
.naviPage {
    font-size: 17px;
    padding: 9px;
}

/*현재페이지*/
.naviPage-active {

    padding: 5px 10px;
    font-size: 17px;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.7);
    color: #0185FE;

}


/*상세보기 페이지 css*/

#memManageSelectBox {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 85px;
    left: 60%;
}

#memManageSelectBox select {
    height: 30px;
}

#memManageSelectBox select[name=status] {
    width: 95.25px;
    margin-top: 5px;
}

#memManageSelectBox input {
    height: 30px;
}

#noContent {
    margin-top: -350px;
    font-weight: 600;
}

#detailBtn {
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: #ffffff;
    width: 80px;
    height: 25px;
    border-radius: 8px;
}

#memberSearchBox {
    margin-left: -70px;
    margin-right: 20px;
}

#memberUpdateBox {
    margin-top: -5px;
}



#infoDetailBox {
    margin: 100px 0px 100px 750px;
}

.infoInputBox {
    width: 400px;
    height: 36px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 8px 0 20px 0;
    padding-top: 4px;
    padding-left: 10px;
}

#infoTitle {
    font-size: 25px;
    font-weight: 600;
    margin: 10px 180px 55px;
}

#infoDetailBox > label {
    font-size: 19px;
    font-weight: 500;
}

#adminBtnBox {
    margin: 40px 0px 50px 150px;
}

.modifySelect {
    height: 30px;
    width: 100px
}
