/*#infoContentBox {margin-top: 80px; position: absolute;}*/
/*#infoTitleBox {position: absolute; top: 100px; left: 220px;}*/
/*#infoTitleBox > h1 {font-size: 23px;font-weight: 600;}*/

/*#memberSearchBox {position: absolute;right: 4.5%; top: 30px;}*/
/*#memberSearchBox_select {height: 35px;}*/
/*#memberSearchBox input[type=text] {height: 30px;}*/

/*#stdSearchBox {position: absolute;right: -5.5%; top: 30px;}*/
/*#stdSearchBox select {height: 30px;}*/
/*#stdSearchBox input {height: 30px;}*/

/*#instructorSearchBox {position: absolute;margin-left: 92%;width: 400px; top: 30px;}*/
/*#instructorSearchBox select {height: 30px;}*/
/*#instructorSearchBox input {height: 30px;}*/



/*#memberUpdateBox{}*/
/*#memberUpdateBox select {height: 30px;}*/
/*#memberUpdateBox select[name=status] {width: 160px;margin-top: 5px;}*/


/*#stdUpdateBox{display: flex; justify-content: flex-end; align-items: center;}*/
/*#stdUpdateBox select {height: 30px; margin-right: 10px;width: 200px;}*/



/*#instructorUpdateBox select {height: 30px;}*/
/*#instructorUpdateBox select[name=status] {width: 160px;margin-top: 5px;}*/
/*#instructorUpdateBox{margin-top:10px; width: 400px;margin-left: 95.5%;}*/


/*#memberListBox {position: relative; width: 80%; height: auto; overflow: hidden; margin-left: 16%; margin-top: 70px;}*/
/*#memberListBox table {width: 100%; font-size: 14px}*/
/*#memberListBox input[type=checkbox] {width: 18px;height: 18px;}*/
/*#memberListBox th {border-bottom: 2px solid rgba(0,0,0,0.2);border-collapse: collapse;table-layout: fixed;height: 40px;font-weight: 600;text-align: center;vertical-align: middle;}*/
/*#memberListBox td {border-bottom: 1px solid rgba(0,0,0,0.2);border-collapse: collapse;table-layout: fixed;height: 40px;text-align: center;vertical-align: middle;}*/

/*#stdListBox {position: relative; width: 90%; height: auto; overflow: hidden; margin-left: 16%; margin-top: 70px;}*/
/*#stdListBox table {width: 100%; font-size: 14px}*/
/*#stdListBox input[type=checkbox] {width: 18px;height: 18px;}*/
/*#stdListBox th {border-bottom: 2px solid rgba(0,0,0,0.2);border-collapse: collapse;table-layout: fixed;height: 40px;font-weight: 600;text-align: center;vertical-align: middle;}*/
/*#stdListBox td {border-bottom: 1px solid rgba(0,0,0,0.2);border-collapse: collapse;table-layout: fixed;height: 40px;text-align: center;vertical-align: middle;}*/

/*#instructorListBox {position: relative; width: 100%; height: auto; overflow: hidden; margin-left: 16%; margin-top: 70px;}*/
/*#instructorListBox table {width: 100%; font-size: 14px}*/
/*#instructorListBox input[type=checkbox] {width: 18px;height: 18px;}*/
/*#instructorListBox th {border-bottom: 2px solid rgba(0,0,0,0.2);border-collapse: collapse;table-layout: fixed;height: 40px;font-weight: 600;text-align: center;vertical-align: middle;}*/
/*#instructorListBox td {border-bottom: 1px solid rgba(0,0,0,0.2);border-collapse: collapse;table-layout: fixed;height: 40px;text-align: center;vertical-align: middle;}*/




/*#infoNaviBox {position: absolute; bottom: 7%; left: 43%}*/
/*!*내비 다른페이지*!*/
/*.naviPage {font-size: 17px;padding: 9px;color: black}*/
/*!*내비 현재페이지*!*/
/*.naviPage-active {padding: 5px 10px;font-size: 17px;font-weight: 600;border: 1px solid rgba(0, 0, 0, 0.7);color: #0185FE;}*/
/*#delBtnBox{position: absolute;margin-top: 3%;left: 79%;}*/
/*!*상세보기 페이지 css*!*/
/*#noContent {margin-top: -350px;font-weight: 650;}*/
/*.detailBtn {border: 1px solid rgba(0, 0, 0, 0.7);background-color: #ffffff;width: 80px;height: 25px;border-radius: 8px;}*/



/*231226 강정수 css 수정
*/

#infoTitleBox{font-size: 25px; color: #353739; letter-spacing: 2px; padding-bottom: 13px; border-bottom: solid 1px #ebeaea; margin-top: 20px;}
#infoTitleBox {font-family: "Font Awesome";}

#infoDetailBox{width: 60%; margin: 30px auto; }
.infoInputBox{width: 400px;height: 36px;border: 0;border-bottom: 1px solid rgba(0, 0, 0, 0.2);margin: 8px 0 20px 0;padding-top: 4px;padding-left: 10px;pointer-events : none;}
.infoInputBox:focus {outline: none;}
.infoModifyInputBox:focus {outline: none;}
.infoModifyInputBox{width: 400px;height: 36px;border: 0;border-bottom: 1px solid rgba(0, 0, 0, 0.2);margin: 8px 0 20px 0;padding-top: 4px;padding-left: 10px;}
#infoTitle{font-size: 20px;font-weight: 600;margin: 80px 180px 40px;}
#infoDetailBox > label {font-size: 16px;font-weight: 500;color:rgba(0, 0, 0, 0.4); }
#adminBtnBox {margin-left: 160px;margin-top: 15px;padding-bottom: 30px}
#stdBtnBox{margin-left: 120px;margin-top: 15px;padding-bottom: 30px}
.modifySelect {height: 30px;width: 100px;}
.password:focus {outline: none;}
.password{width: 400px;height: 36px;border: 0;border-bottom: 1px solid rgba(0, 0, 0, 0.2);margin: 8px 0 20px 0;padding-top: 4px;padding-left: 10px;}

#infoDetailBox > form > label {font-size: 16px;font-weight: 500;color: rgba(0, 0, 0, 0.4); }

/*회원 관리 테이블*/
#memberInfo{display: flex; flex-direction: column; width: 80%; margin: 20px auto;}
#main_content_controll{display: flex; flex-direction: column; align-items: flex-end; margin: 40px 20px 15px 20px;}

/*검색*/
#memberSearchBox select{width: 100px; height: 40px; border-radius: 10px; text-align: center; color: #7c838b;}
#memberSearchBox input[type=text]{height: 40px;  width: 250px; border-radius: 10px; border: 1px solid rgb(118 118 118); padding: 0 10px;}
.searchBox {width: 400px; height: 36px; border-radius: 10px; text-align: center; color: #7c838b;}

/*상태 수정*/
#memberUpdateBox{margin-top: 20px;}
#memberUpdateBox select{width: 100px; height: 40px; border-radius: 10px; text-align: center; color: #7c838b;}
#memberUpdateBox input{width: 100px; height: 40px; border-radius: 10px;}

#instructorUpdateBox{margin-top: 20px;}
/*#instructorUpdateBox select{width: 200px; height: 40px; border-radius: 10px; text-align: center; color: #7c838b;}*/
#stdUpdateBox{margin-top: 20px;}
#stdUpdateBox select, #instructorUpdateBox select {width: 200px; height: 40px; border-radius: 10px; text-align: center; color: #7c838b;}
#memberUpdateBox input{width: 100px; height: 40px; border-radius: 10px;}
/*내비게이션*/
#infoNaviBox{width:100%; margin: 20px auto; text-align: center;}
/*테이블*/
#memberListBox  table{border:1px solid rgba(0,0,0,0.2); width: 100%;}
#memberListBox  table  tr th {background-color: #dbd8d8; text-align: center; border-bottom: 1px solid rgba(0,0,0,0.2); padding: 8px 0;}
#memberListBox  table  tr td {text-align: center; padding: 10px;}
#th_phone{width: 300px;}

/*#modifyBtn_stdManage {color: #FFFFFF; font-weight: 500; background-color: rgb(103 101 101 / 65%) !important;}*/
/*.searchBtn_stdManage {border: solid 1px #7d7777; background-color: #FFFFFF; color: #7d7777; width: 50px; height: 40px; border-radius: 8px; cursor:pointer;}*/
/*.searchBtn_stdManage:hover {opacity: 0.5;}*/
.detailBtn {background-color: #FFFFFF; border-radius: 3px; border: solid 1px #bbbbbb; color: #353739;}

#infoNaviBox {margin-top: 30px;}
#infoNaviBox a {color: #353739; padding: 0 7px;}
#infoNaviBox a:hover {text-decoration-line: underline;}


/*과정 등록*/
.infoDetailClass{display: flex; flex-direction: column;}
/*과목등록*/
#classEnrollBtn{margin-top: 20px;}
/*강의 목록*/
#lectureWriteBox {margin-top: 35px;}

.subject_name {color: #000000; cursor: pointer;}
.subject_name:hover {text-decoration-line: underline;}

.inputBox{width: 400px;height: 36px;border: 0;border-bottom: 1px solid rgba(0, 0, 0, 0.2);margin: 8px 0 20px 0;padding-top: 4px;padding-left: 10px;}
#infoDetailBox form label, #infoDetailBox form input, #infoDetailBox form select {margin: 10px 0;}
.section_txt {margin-top: 30px; font-weight:500; color: #626568; margin-bottom: 6px;}

#section_content {margin: 30px 0; color: #626568;}
#section_content textarea {margin-top: 5px; width: 500px; height: 100px; border: 1px solid rgba(0, 0, 0, 0.2);}
.dateBox {width: 200px; height: 36px; border-radius: 10px; text-align: center; color: #7c838b; border: 1px solid rgb(118 118 118); padding: 0 10px;}
#file_upload {border: 1px solid rgb(233 229 229); padding: 0 11px; margin: 10px 0; border-radius: 5px; width: 250px}
#file_list p {color: #9ea0a5;}
#section_btn {margin: 30px 0; display: flex; justify-content: center; width: 500px;}
#registRegistBt, #registModifyBt {margin-right: 10px !important;}


#classEnrollInfo input:focus{border: none;}
#classEnrollInfo input{border: none;}
.memberNum{border: 1px solid rgba(0,0,0,0.2); width: 50px; height: 30px; border-radius: 10px; text-align: center; line-height: 30px;}