/*!*board_header 영역*!*/
/*.board_header {background-color: rgba(0,0,0,2); color: #ffffff; padding-left: 15%; padding-top: 40px; padding-bottom: 40px;}*/
/*#board_header_txt_title {font-size: 35px; font-weight: 550; margin-bottom: 10px;}*/
/*#board_header_txt_content {font-size: 20px;}*/
/*#boacrd_main_sub {width: 70%;margin: 0 auto; display: flex;}*/
/*#board_aside {width: 20%; padding: 50px 30px;}*/
/*#board_aside_title {font-size: 15px; margin-bottom: 25px;}*/
/*#board_aside_contents {font-size: 20px;border:1px solid rgb(242, 242, 242); }*/
/*#board_aside_contents div {line-height: 19px;display: flex;  padding: 15px 13px 15px 20px; ;border-bottom: 1px solid rgb(242, 242, 242); }*/
/*#board_aside_contents div:hover{background-color: rgb(250, 250, 250);  color: #0185FE;  font-weight: 500;}*/
/*!*board_main_contents 영역*!*/
/*#board_main_contents {width: 80%; padding: 50px 30px;}*/
/*#main_header {font-size: 28px; font-weight: 500; padding-bottom: 10px; border-bottom: solid 2px #000000;}*/

/*!*main search  부분*!*/
/*#main_search{display: flex; flex-direction: column; width: 100%; height: 100px; margin-top: 20px; position: relative;}*/
/*#mainSearch{margin-bottom:90px; display: flex; flex-direction: column; width: 100%; height: 100px; margin-top: 20px; position: relative;}*/
/*#search_contents{display: flex; flex-direction: row;}*/
/*#search_select select{border: 1px solid rgba(0,0,0,0.2); width: 150px; height: 40px; border-radius: 10px;}*/
/*#search_select select option{text-align: center;}*/

/*#search_contents{width: 100%;position: relative;}*/
/*#searchbar{width: 80%; margin-top: 10px;}*/
/*#searchbar input{width: 80%; height: 40px; border: 1px solid rgba(0,0,0,0.2); border-radius: 10px;}*/
/*#searchBtn{position: absolute; right: 10px; margin-top: 10px;}*/
/*#writeBtn{position: absolute; right: 10px; margin-top: 100px;}*/

/*#submit_btn {margin-top: 30px; text-align: right;}*/
/*#submit_btn input[type="button"] {display: inline-block; width: 80px; margin-right: 10px;}*/

/*#main_contents {padding: 20px 20px; font-size: 20px; border-bottom: solid 1px #777777; }*/
/*#info_header {display: flex; height: 50px; align-items: center;}*/
/*#info_header_title {font-size: 25px; padding: 10px; font-weight: 400;  }*/
/*#category_title{color: #0185FE; font-size: 25px}*/
/*#info_header_title>a:link{color: #000a12;}*/
/*#info_header_title>a:visited{color: #000a12;}*/


/*#info_footer {display: flex; font-weight: 100; color: #868e96;}*/
/*#footer_user_info {width: 80%; font-size: 15px;}*/
/*#content_info {width: 20%; font-size: 15px; display: flex; flex-direction: row-reverse}*/
/*#info_content{margin: 20px 0; font-size: 17px;}*/

/*!*페이징*!*/
/*#section_paging{display: flex; justify-content: center; margin : 50px 0;}*/
/*#paging_per{display: flex;}*/
/*#paging_group{display : flex;}*/
/*#paging_group .paging a.page {height: 1.25em; min-width: 1.25em; font-size: 1em; border-radius: 4px; padding: 3.5px 6px; margin:0; border: 1px solid #dbdbdb; color: #363636;*/
/*    text-decoration: none; display: inline-block; text-align: center; justify-content: center;}*/
/*#paging_group .paging a.paging-active {border-color: #007bff; background-color: #0185FE; color: #fff;}*/
/*#paging_group .paging input.page {height: 1.25em; min-width: 1.25em; font-size: 1em; border-radius: 4px;  padding: 3.5px 6px;  margin: 0.25rem;  border: 1px solid #dbdbdb;  color: #363636;  }*/

.ellipsis {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #afb1b6;}

input:focus {outline: none; border: 1px solid rgba(0,0,0,0.2);}

#boardList_header{width: 100%; height: 115px; background-color: #0064b5; position: relative; box-shadow: 0 0 20px rgba(0,0,0,0.1);}
#boardList_header > div{color: #FFFFFF; position: absolute; top: 30%; left: 300px;}
#boardList_header > div > h1{font-size: 30px; font-weight: 550; margin-bottom: 10px;}
#boardList_header > div > h3 {letter-spacing: 2px;}
#boardList_content{display: flex; flex-direction: row; width: 1320px; height: auto; margin: 0 auto;}
#boardList_nav{width: 300px; padding-top: 35px;}
#boardList_nav > ul > li{padding: 20px 50px; border: 1px solid #e3edf6;}
#boardList_nav > ul > li:nth-child(1){border-bottom: 0}
#boardList_nav > ul > li:nth-child(2){border-bottom: 0}
#boardList_nav > ul > li > a{font-weight: 550;font-size: 20px; color: #73b4f0; letter-spacing: 3px;}
#boardList_nav > ul > li > a.active {color: #2e77b7;}
#boardList_main{width: 900px;display: flex; flex-direction: column; justify-content: center; align-items: center;}
#boardList_main_header{width: 85%; margin: 5px auto; border-bottom: solid 1px #abd7ff;}
hr {height: 1px; border: 0; border-bottom: solid 1px #abd7ff; width: 85%; margin: 35px auto;}
#boardList_search_option select{width:25%; height: 40px;border-radius: 3px; margin: 10px 10px 0 10px; border: 1px solid #cfdce7; text-align: center; color: #757575;}
#boardList_search_input{display: flex;}
#boardList_search_input input[type=text]{width:430px; height: 40px;border-radius: 3px; margin: 10px; border: 1px solid #cfdce7; padding: 0 30px;}
#search_btn{margin: 10px;}
#search_btn input{border-radius: 3px !important; background-color: #3d9aee; color: #FFFFFF; font-weight: 500; letter-spacing: 2px;}
#write_btn input{background-color: #3d9aee;border-radius: 3px;margin-top: 10px}


/*main content*/
#boardList_main_content {width: 85%; margin: 0 auto;}
#empty_space {width: 100%; height: 80px;}
#board_content_per {border-bottom: solid 1px #abd7ff; padding: 0 20px 35px 20px; margin-bottom: 35px; display: flex; flex-direction: column;}
#board_content_per a {font-weight: 500; font-size: 30px; color: black; margin-bottom: 10px;}
#board_content_per a:hover {text-decoration-line: underline;}
#board_content_per p {margin-bottom: 17px;}
#board_content_footer {width: 100%; display: flex; color: #afb1b6;}
#board_content_footer > div {width: 50%;}
#hit_num {width: 50%; text-align: right;}
#category_title{width: 120px;height: 30px; background-color: #2196F3; border-radius: 10px; text-align: center; line-height: 30px; color: #FFFFFF}


/*paging*/
#board_paging {width: 100%; margin: 0 auto; text-align: center;}
#board_paging a {margin: 0 3px; border: solid 1px #dcdee4; border-radius: 5px; padding: 3px 10px; color: #7c838b;}
#board_paging a:hover {background-color: #0185FE; color: #FFFFFF; border: 0;}
#board_paging a.active {background-color: #0185FE; color: #FFFFFF; border: 0;}
