.content{display: flex; flex-direction: column; position: relative;}

/* Slideshow container */
.slideshowContainer {
    max-width: 100%;
    max-height: 500px;
    position: relative;
    margin: auto;
}
.slideshowContainer .mySlides img {
    height: 500px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*하단 슬라이드*/

/* Slideshow container */
.slideshowContainer01 {
    max-width: 100%;
    max-height: 500px;
    position: relative;
    margin: auto;
}
.slideshowContainer01 .mySlides01 img {
    height: 500px;
}

/* Hide the images by default */
.mySlides01 {
    display: none;
}

/* Next & previous buttons */
.prev01, .next01 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next01 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev01:hover, .next01:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text01 {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext01 {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot01 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot01:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.lectureContainer{margin-top: 50px;}
#lectureTxt{display: flex; flex-direction: column; justify-content: center; position: relative; width: 960px; margin: 25px auto;font-size: 30px;}
.txt02{display: flex; flex-direction: row; margin-top: 10px;}
.txt02 h2{color: #0F36C3; font-weight: bold}
.lectureBtn input:hover{background-color: rgba(0,0,0,0.5); color: #FFFFFF}
.lectureBtn{width: 960px; margin: 10px auto;}

#lectureWrap{width: 1100px; height: 300px; margin: 0 auto; display: flex; flex-direction: row;justify-content: space-around; align-items: center;}
#lectureWrap > div{ border: 1px solid rgba(0,0,0,0.2); width: 450px; height: 200px; border-radius: 15px; box-shadow: 5px 5px 5px rgba(0,0,0,0.5); display: flex; flex-direction: row; position: relative;}
#lectureWrap > div > ul{display: flex;flex-direction:column;justify-content: center;margin-left: 20px;}
#lectureWrap > div > ul li{margin-top: 20px;}
#lectureWrap > div > ul li:first-child{color: rgba(0,0,0,0.4);}
#lectureWrap > div > ul li:nth-child(2){font-size: 30px;color: rgba(0,0,0,0.7); font-weight: bold;}
#lectureWrap > div > img{width: 80px; height: 80px; position: absolute; right: 10%; top:40%;}

#keyElement{position: relative; margin: 0 auto; width: 960px;height: 100px;}
#keyElement img{width: 500px; height: 100px; position: absolute; filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));}
#keyElement ul{position: absolute;left: 10%; top: 50%;transform: translate(-10%,-50%)}
#keyElement ul li{float: left; font-size: 40px; color: #AFA95E; margin-left: 10px; }

#keyElementTxt{display: flex; flex-direction: column; justify-content: center; position: relative; width: 960px; margin: 25px auto;font-size: 30px;}
#keyElementTxt span:nth-child(1){height: 80px;}
#keyElementTxt span:nth-child(2){margin-top: -40px;}
#keyElementTxt span h1{ font-size: 30px; line-height: 80px;}
#keyElementTxt span h2{ font-size: 30px; color: #ED3269; text-emphasis: filled #ED3269; }
#keyElementTxt span h6{color: rgba(0,0,0,0.5); font-size: 20px;}
#keyElementTxt span:nth-child(1){display: flex; flex-direction: row;}

#youtubeBox{display: flex; flex-direction: row; justify-content: space-around; width: 1200px; margin: 50px auto;}
#youtubeBox div{width: 300px; height: 300px;}
#youtubeBox div img{width: 300px; height: 200px;filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5)); border-radius: 10px;}
#youtubeBox > div > ul > li:nth-child(2){color: #0F36C3; font-size: 20px; margin-top: 10px;font-weight: bold;}
#youtubeBox > div > ul > li:nth-child(3){color: rgba(0,0,0,0.5); margin-top: 10px;}