.inputTxt{box-shadow: 5px 5px 5px rgba(0,0,0,0.2);border: 1px solid rgba(0,0,0,0.1); border-radius: 5px;}


.registeBtn{border: 0;background-color: #0185FE; color: #ffffff; width: 80px; height: 40px; border-radius: 8px; cursor:pointer}
.modifyBtn{border: 0; background-color: rgba(0,0,0,0.2); width: 80px; height: 40px; border-radius: 8px; cursor:pointer}
.cancleBtn{border: 1px solid rgba(0,0,0,0.7);background-color: #ffffff; width: 80px; height: 40px; border-radius: 8px; cursor:pointer}
.deleteBtn{border: 1px solid rgba(0,0,0,0.7);background-color: #ffffff; width: 80px; height: 40px; border-radius: 8px; cursor:pointer}
.backBtn{border: 1px solid rgba(0,0,0,0.7);background-color: #ffffff; width: 80px; height: 40px; border-radius: 8px; cursor:pointer}

.registeBtn:hover {opacity: 0.5;}
.modifyBtn:hover {opacity: 0.5;}
.cancleBtn:hover {opacity: 0.5;}
.deleteBtn:hover {opacity: 0.5;}
.backBtn:hover {opacity: 0.5;}