/*myPagePwdChk*/
#myPagePwdChkBox{display: flex; flex-direction: row; height: 720px; position: relative;}
#myPagePwdChkBox > nav{height: 100%; border-right: 1px solid rgba(0,0,0,0.2)}
#myPagePwdChkBox > nav > ul{width: 300px;}
#myPagePwdChkBox > nav > ul > li{width:200px; margin: 0 auto; padding:30px; border-bottom: 1px solid rgba(0,0,0,0.2)}
#myPagePwdChkBox > nav > ul > li > a{font-size: 25px;font-weight: bold; color: #182566}
#myPagePwdChkBox > nav > ul > li > a:hover{font-size: 25px;font-weight: bold; color: #0185FE}
#myPagePwdChkBox > div{position: relative; width: 100%}
#myPagePwdChkBox > div > p {position: absolute; left: 50%; top: 20%; transform: translate(-50%, -30%); font-size: 30px; color: rgba(0,0,0,0.5)}
#myPagePwdChkBox > div > input {position: absolute; left: 50%; top: 45%; transform: translate(-50%, -45%);}
#myPagePwdChk input { box-sizing: border-box; margin: 0; padding: 0; border: none;}
#myPagePwdChk input:focus {outline: none;}
#myPagePwdChk{position: absolute; left: 50%; top: 30%; transform: translate(-50%, -30%); border: 1px solid black; width: 700px; height: 50px; border-radius: 10px;}
#myPagePwdChk > input{width: 500px; height: 50px; font-size: 25px; border-radius: 15px;}
/*myPage*/
.memberInfoInput:focus {outline: none;}
.memberInfoInput{border: 0;background-color: rgba(0,0,0,0.1);border-radius: 5px;margin-top: 5px;margin-bottom: 25px;width: 550px;height: 35px;pointer-events : none;}
.memberModifyInput{border: 0;background-color: rgba(0,0,0,0.1);border-radius: 5px;margin-top: 5px;margin-bottom: 25px;width: 550px;height: 35px;}
.password{border: 0;background-color: rgba(0,0,0,0.1);border-radius: 5px;margin-top: 5px;margin-bottom: 25px;width: 550px;height: 35px;}
.password:focus {outline: none;}
.memberInfoLabel{color: rgba(0,0,0,0.3);font-weight: 500;}
#myPageBox{margin-top: 2%;margin-left: 20%;}
#myPageBtnBox{margin-left: 43%;margin-bottom: 7px;}
#myPageDelBox{margin-left: 89%;margin-top: 30px;}
#myPageDelBox > a{color:rgba(0,0,0,0.3);border-bottom: 1px solid rgba(0,0,0,0.3);}
#myPageContentBox{display: flex; flex-direction: row; height: 800px; position: relative;}
#myPageContentBox > nav{height: 100%; border-right: 1px solid rgba(0,0,0,0.2)}
#myPageContentBox > nav > ul{width: 300px;}
#myPageContentBox > nav > ul > li{width:200px; margin: 0 auto; padding:30px; border-bottom: 1px solid rgba(0,0,0,0.2)}
#myPageContentBox > nav > ul > li > a{font-size: 25px;font-weight: bold; color: #182566}
#myPageContentBox > nav > ul > li > a:hover{font-size: 25px;font-weight: bold; color: #0185FE}
/*강사소개말*/
 #introTitle{font-size: 24px;font-weight: 600;margin-bottom: 30px;color: rgba(0,0,0,0.4);border-bottom: 1px solid rgba(0,0,0,0.2);padding-bottom: 10px;width: 740px;}
#intro{border: 0;font-size: 15px;background-color: #8b8b8b1c;resize: none;}
#intro:focus {outline: none;}
#instructorInfoBox{margin-top: 50px;margin-left: 50px}

