/* 구분 */
.section_buyer-info, .aside_pay-info {background-color: #fff;}
.section_howpay {background-color: #fff;}
/*#order_date {background-color: #bbbbbb;}*/

/* 컨텐츠 영역 사이즈 */
#pay_main {display: flex; width: 60%; margin: 50px auto;}
.pay-info {width: 70%; margin-right: 50px;}
.pay-info_body-wrapper {margin: 0;}
.order_list {padding: 10px 0;}
.section_lecture-date_info {padding: 40px 0; border-bottom: solid 0.5px #d9e1e8;}
.lecture-date_start {padding-bottom: 10px;}
.section_lecture-price_info {padding: 50px 0; border-bottom: solid 1px #9da2a7;}
.section_howpay {padding: 30px 0;}
#payBtns {margin: 60px 0 20px 0; display: flex; justify-content: center;}
.aside_pay {position: fixed; right: 10%; top: 15%;}

#pay-success_main, .orderDetail_main {width: 50%; margin: 100px auto 300px auto;}
#pay-success_main-content, #orderDetail_main-content {padding: 30px; background-color: #ffffff; box-shadow: 0 0 40px rgba(0, 0, 0, 0.15); border-radius: 7px;}
#pay-success_header, #pay-success_notice, #odNo_notice, #pay_info_notice, #pay-success_lecture_notice {border-bottom: solid 1px #d7d9dc;}
#pay-success_header {padding: 30px 30px 0 30px;}
#pay-success_header > h2 {width: 45%; margin: 0 auto;}
#pay-success_notice {padding: 80px;}
#odNo_notice {padding: 40px;}
#pay_info_notice, #pay-success_lecture_notice {padding: 40px;}
.pay_info_amount, .pay_info_type, #pay-success_lecture_notice div {width: 35%; margin: 0 auto; display: flex;}
.pay_info_amount_title, .pay_info_type_title, .pay-success_lecture_notice_title {text-align: left;}
.pay_info_amount_num-section, .pay_info_type_showType, .pay-success_lecture_notice_lecture-title {text-align: right;}
.pay_info_amount span, .pay_info_type span, .pay-success_lecture_notice_title, .pay-success_lecture_notice_lecture-title {width: 50%;}
#goLink_btns {padding: 65px;}
#go_orderlist {margin-bottom: 15px;}
#account_notice {padding-bottom: 40px;}

#orderDetail_header {margin: 0 auto;}
#orderDetail_contents {padding: 40px 0;}
#orderDetail_info, #orderDetail_pay_info, #orderDetail_buyer_info, #orderDetail_seller_info {width: 64%; margin: 0 auto;}
#orderDetail_info_odNo1 tr td, #pay_common_content tr td, #orderDetail_buyer_content tr td, #orderDetail_seller_content tr td {width: 50%;}
#orderDetail_info_odNo1, #pay_common_content, #orderDetail_buyer_content, #orderDetail_seller_content {width: 100%;}
#orderDetail_btn {margin: 20px 0 60px 0;}
#orderDetail_buyer_info, #orderDetail_pay_info, #orderDetail_seller_info {padding: 20px 0; border-bottom: solid 1px #d7d9dc;}
#orderDetail_info {padding-bottom: 20px; border-bottom: solid 1px #d7d9dc;}

#main_orderlist {display: flex; width: 70%; margin: 45px auto; position: relative;}
#section_orderlist {width: 65%;}
#orderlist_member_contents {display: flex;}
#aside_orderlist_info section {margin-bottom: 10px;}
#member_name {margin-top: 8%; font-size: 23px;}
#member_id {font-size: 18px; color: #575e65; margin-top: 5px; text-decoration-line: underline;}
#aside_orderlist_info {position: fixed; top: 15%; right: 6%; width: 450px;}
#section_orderlist_contents {background-color: #ffffff; margin: 20px 0; border-radius: 16px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
#orderlist_content-title {background-color: #49a3ff; padding: 20px 30px; border-radius: 16px 16px 0 0; font-size: 30px; font-weight: 550; color: #ffffff; letter-spacing: 10px;}
#orderlist_content-info {padding: 20px 30px;}
#order_date {width: 100%; border-bottom: solid 1px #d7d9dc;}
#order_content {display: flex; padding-top: 20px;}
#orderlist_info {width: 100%; padding: 30px;}

/*#orderlist_content-title의 결제 상태에 따른 해당 영역 배경 색상 변경*/
#orderlist_content-title.paid {background-color: #49a3ff;}
#orderlist_content-title.notPaid {background-color: #ff5959;}
#orderlist_content-title.cancel {background-color: #0185FE;}

/* 공통 */
body {font-size: 1rem; line-height: 1.5;}
.display-none {display: none;}
.bottom-fixed {display: none;}

/* img */
#boss_thanks {width: 40%; padding-top: 35px;}
#boss_thanks:hover {opacity: 1; -webkit-animation: flash 1.5s; animation: flash 1.5s;}
@-webkit-keyframes flash {0% {opacity: .4;} 100% {opacity: 1;} }
@keyframes flash {0% {opacity: .4;} 100% {opacity: 1;} }

.pay_img {width: auto; height: 200px; margin: 0 15px;}

/* #img_not-paid : 줌인 효과 */
#img_not-paid {-webkit-transform: scale(1); transform: scale(1); -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out;}
#img_not-paid:hover  {-webkit-transform: scale(1.3); transform: scale(1.3);}
/* #img_pay-cancel : 회색 효과 */
#img_pay-cancel {-webkit-filter: grayscale(0); filter: grayscale(0); -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out;}
#img_pay-cancel:hover {-webkit-filter: grayscale(100%); filter: grayscale(100%);}
/* #img_paid_hover : shine 효과 */
#img_paid_hover {position: relative;}
#img_paid_hover::before {position: absolute; top: 0; left: -75%; z-index: 2; display: block; content: ''; width: 50%; height: 100%; background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%); -webkit-transform: skewX(-25deg); transform: skewX(-25deg);}
#img_paid_hover:hover::before {-webkit-animation: shine .75s; animation: shine .75s;}
@-webkit-keyframes shine {100% {left: 125%;} }
@keyframes shine {100% {left: 125%;} }

/* 텍스트 */
.buyer-info_header > input, .buyer-info_list div dt, .terms-agreement , #goQna, .lecture-date_start_title, .lecture-date_end_title, .tableText, #odNo_notice > p {color: #94a0ab;}
.buyer-info_list div dd, .lecture-date_start_day, .lecture-date_end_day, #slrActNum, #pay_info_notice, #pay-success_lecture_notice {color: #575e65;}
.section_howpay > span {color: #9da2a7;}
.price-pay-num, .price-pay > span, #price-btn {font-size: 16px;}
.terms-agreement {font-size: 13px;}
.e-open-terms {color: #7c838b; text-decoration: underline;}
#goQna {font-size: 15px;}
.pay-info_header, #pay-success_header > h2, #receipt-title, #section_orderlist_title {font-size: 24px; font-weight: 700; padding: 20px 0 20px 0; border-bottom: solid 1px black; letter-spacing: 7px;}
.lecture-title_info, .lecture-price_title, .section_howpay > h2 {padding: 0 0 15px 0; font-size: 18px; font-weight: 550; color: #707880;}
.lecture-title {border-bottom: solid 0.5px #d9e1e8; padding-bottom: 50px;}
.lecture-price-num, .lecture-title, .pay_info_amount_num {color: #0185FE;}
.lecture-title, .lecture-price-num, .lecture-price-unit {font-size: 20px;}
.price-pay-num, #member_name_var {color: #ED3269;}
.cash-payment_notice > span {color: red;}
.lecture-date_start_day, .lecture-date_end_day {margin-left: 10px;}

#pay-success_header, #odNo_notice, #pay_info_type, #goLink_btns, #pay-success_notice, #pay_info_notice, #pay-success_lecture_notice {text-align: center;}
#pay-success_notice p {font-size: 20px; color: #353739; line-height: 1.5;}
#odNo_notice > p, #pay_info_notice {font-size: 17px; line-height: 1.7;}
#cash_pay_notice {color: red !important;}
#account_notice {color: #707880 !important;}

#orderDetail_header {text-align: center;}
.receipt-text {padding: 10px; margin: 30px 0;}
#receipt-text-01 {font-size: 40px; font-weight: 700; color: #0185FE; padding-bottom: 10px; letter-spacing: 4px;}
#receipt-text-02 {font-size: 20px; color: #7c838b; letter-spacing: 10px;}
#receipt-title {width: 45%; margin: 0 auto;}
.orderdetail_td-01 {color: #7c838b;}
.orderdetail_td-02 {text-align: right; color: #353739;}
.orderdetail_td-highlight {text-align: right; color: #ED3269 !important;}
.orderdetail_td-01, .orderdetail_td-02, .orderdetail_td-highlight {padding: 7px 0;}
.orderdetail_header {padding: 5px 0; font-size: 18px; font-weight: 500; color: #353739}
.orderdetail_td-subtitle {padding: 10px 0; color: #7c838b; font-weight: bold;}

#slr-account-title, #contact-header-title {color: #575e65; font-size: 18px; font-weight: 500; padding-bottom: 10px; border-bottom: solid 1px #dee3e9;}
#account-content_text {margin-bottom: 20px;}
#slr-account-notice div p {color: red; line-height: 1.3;}
#slr-account-notice div p span {text-decoration-line: underline;}
#order_date tr td {font-size: 20px; padding-bottom: 7px; color: #7c838b;}
.order_date_title {width: 20%;}
#orderlist_lecture-title {font-size: 30px; font-weight: 600; color: #ED3269; padding: 15px 0;}
#orderlist_lecture-date {padding-bottom: 5px;}
#orderlist_lecture-date table tr td {padding-bottom: 5px; padding-right: 10px; color: #353739; font-size: 17px;}
#orderlist_lecture-price {display: flex; justify-content: right; font-size: 25px;}
#orderlist_lecture-price_num {color: #ED3269; font-weight: 600; padding-right: 5px;}

/* 버튼 디자인 */
.order_btns:active {opacity: 0.5;}
.order_btns {cursor: pointer;}
#price-btn, #go_orderlist {background-color: #0185FE; color: #fff; font-weight: bold; border: 0; border-radius: 10px;}
#price-btn {margin: 20px 0 10px 0; height: 40px; width: 100%;}
#goQna {margin: 20px 0 10px 0; height: 40px; width: 100%; background-color: #fff; border: 0; border-radius: 10px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);}
#kakaopay, #card, #account, #go_mypage {border: solid 1px #676363; color: #676363; border-radius: 10px; background-color: #fff;}
#kakaopay, #card, #account {width: 150px; height: 60px; margin: 5px;}
#copyBtn, #orderlist_copyBtn {border: solid 1px rgba(0, 0, 0, 0.2); color: #676363; border-radius: 10px; background-color: #fff;}
#copyBtn {height: 25px; width: 200px; margin: 5px;}
#orderlist_copyBtn {height: 25px; width: 100%;}
#go_orderlist, #go_mypage {width: 100%; height: 80px; font-size: 20px;}

.goDetail:active, .goLectureInfo:active {opacity: 0.5;}
.goDetail, .goLectureInfo {cursor: pointer;}
#orderlist_goQna, #goFaq, #copyMail {font-size: 15px; color: #94a0ab; margin: 0 0 5px 0; height: 40px; width: 100%; background-color: #fff; border: solid 1px #dee3e9; border-radius: 10px;}
#orderlist_goQna {margin-top: 15px;}
#copyMail {background-color: #0185FE !important; color: #ffffff;}
#orderlist_content-btns {display: flex; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px;}
#orderlist_content-btns div {width: 50%;}
#orderlist_content-btns div input {width: 100%; border: solid 1px #dee3e9; height: 70px; font-size: 18px; font-weight: 600;}
#orderlist_cancel_btn {border-bottom-left-radius: 16px; background-color: #ffffff; color: #c1c9d0;}
#orderlist_goDetail {border-bottom-right-radius: 16px; background-color: #ffffff; color: #0185FE;}

input[type="button"]{ font-family: FontAwesome; }


/* .aside_pay */
.section_buyer-info {height: 135px;}
.section_buyer-info, .aside_pay-info  {width: 300px; padding: 16px 20px; border: solid 1px #dee3e9; border-radius: 10px; margin-bottom: 4px;}
.buyer-info, .aside_pay-info {line-height: 1.43; letter-spacing: -.3px; font-size: 14px;}
.buyer-info_header {border-bottom: solid 1px #dee3e9;}
.buyer-info_header, .price-pay > span, .price-pay-num {padding: 5px; font-weight: bold;}
.buyer-info_header > input {margin-left: 188px; border: 0; background-color: #fff; font-weight: bold; text-decoration: underline;}
.buyer-info_list {margin-top: 20px;}
.buyer-info_list div {padding-left: 5px;}
.buyer-info_list div dt {width: 100px;}
.buyer-info_list div:not(:last-of-type) {display: flex; margin-bottom: 5px;}
.price-pay, .price-pay-num-unit, .buyer-info_list div {display: flex;}
.price-pay {margin-top: 15px;}
.price-pay-num {padding: 5px 2px 5px 5px;}
.price-pay-unit {padding: 5px 5px 5px 0px;}
.price-pay > span {width: 50%;}
.price-pay-num-unit {width: 70%; justify-content: right;}
.terms-agreement {margin: 15px 0 18px 0;}

#orderlist_member_contents, #orderlist_slr-account-info, #orderlist_contact {background-color: #ffffff; padding: 30px; border: solid 2px #dee3e9; justify-content: center; border-radius: 10px;}
#member_img {width: 30%; justify-content: center;}
#member_content {width: 55%;}
#slr-account-content {padding: 20px 0;}
#account-content_text tr td {padding: 5px 25px 5px 0; color: #7c838b;}

/* 강의 info */
.section_lecture_info {padding: 20px 0;}
.section_lecture-title_info {padding: 20px 0 10px 0; }

/* #AcnNmbTable */
#shwAcnNmb {visibility: hidden; display: flex; flex-direction: column; justify-content: center; padding: 10px 0; text-align: center;}
#AcnNmbTable {display: flex; justify-content: center; margin: 20px 0 10px 0;}
.tableText > td:not(:last-of-type) {border-right: solid 0.5px;}
.tableText > td {padding-right: 20px; text-align: right;}
#slrName2, #slrAct, #slrActNum {padding-left: 20px; text-align: left;}

/* orderlist-paging */
#paging_per, #paging_group, #paging_group_fst, #paging_group_end {display: flex; justify-content: center;}
#orderlist_paging {margin-top: 30px;}
#paging_per {width: 100%; height: 60px; justify-content: flex-start;}
#paging_per_left_arrow input, #paging_per_right_arrow input {height: 100%; width: 100%;}
#paging_per_left_arrow  {width: 20%;}
#paging_per_left_arrow input {border-top-left-radius: 16px; border: solid 1px #afb2b6; background-color: #ffffff; color: #bbbbbb;}
#paging_per_right_arrow input {border-top-right-radius: 16px; border: solid 1px #afb2b6; background-color: #ffffff; color: #bbbbbb;}
#paging_per_right_arrow  {width: 20%;}
.pagination {width: 100%; text-align: center; margin-top: 22px;}
.pagination a {color: #808486; font-size: 20px;}
.pagination a.active {color: black; text-decoration: underline;}
.pagination a:not(:last-of-type) {margin-right: 15px;}
#pagination_parent {width: 60%; border-top: solid 1px #afb2b6; border-bottom: solid 1px #afb2b6;}
#paging_group {width: 100%; height: 45px;}
#paging_group_fst, #paging_group_end {width: 50%;}
#paging_group div input {width: 100%; background-color: #afb2b6; color: #ffffff; font-size: 20px;}
#paging_group_fst input {border-bottom-left-radius: 16px; border-right: solid 1px #ffffff; border-top: 0; border-bottom: 0; border-left: 0;}
#paging_group_end input {border-bottom-right-radius: 16px; border: 0;}
#section_paging {border-radius: 16px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);}

#contact input[type="button"] {font-family: "Font Awesome";}