/* seminarList.jsp
세미나 목록 상단
*/
#seminarBox header{height: 500px;width: 100%; background-color: #0185FE; color: #FFFFFF; position: relative;}
#seminarBox header>p{position: absolute; left: 10%; top:10%; font-size: 50px; font-weight: bold;text-shadow: 5px 5px 5px rgba(0,0,0,0.2);}
#seminarList{position: absolute; left: 15%; top: 45%;}
#seminarList li:first-child{margin-top: 0px;}
#seminarList li{display: flex; margin-top: 30px;}
#seminarList li h1{width: 50px; height: 50px; background-color: #FFFFFF; color: #0185FE; text-align: center; line-height: 50px; border-radius: 5px; font-size: 25px; font-weight: bold; margin: 0px 20px; box-shadow: 5px 5px 5px rgba(0,0,0,0.4)}
#seminarList li p{line-height: 50px; font-weight: bold; font-size: 30px;text-shadow: 5px 5px 5px rgba(0,0,0,0.2);}
#seminarListImg{margin-top: 109px; margin-left: 50%; width: 500px; object-fit: cover;}
#seminarNav{background-color: #ED3269; color: #ffffff; height: 50px;}
#seminarNav li{line-height: 50px; font-weight: bold;}
#seminarNav a{color: #ffffff;font-weight: bold; margin: 0px 15px;}
#seminarNav > ul{display: flex; width: 100%;justify-content: center;}
#seminarNav li{margin-right: 5px;}
#NaviFoot {width: 960px; margin: 0 auto;}
/*세미나 목록 중간*/
#smProcess{display: flex; flex-direction: column; align-items: center;}
#smProcess > h1{font-size: 50px; font-weight: bold; color: #0185FE; margin-top: 20px;}
#imgBox{display: flex; flex-direction: row; margin-top: 40px;}
#imgBox > div{text-align: center; display: flex; flex-direction: column}
#imgBox > div > p{color: red; font-size: 20px; font-weight: bold; text-shadow: 5px 5px 5px rgba(0,0,0,0.4);}
#imgBox > div > p{margin-top: 10px;}
#imgBox > div:nth-child(odd) > img{width: 300px; height: 300px;}
#imgBox > div:nth-child(even){display: flex; margin-top: auto;}
#imgBox > div:nth-child(even) > img{width: 100px; height: 100px; }
/*세미나 목록 신청 상자*/
#smApplyList{width: 1200px; position: relative; margin: 100px auto;display: flex; flex-direction: row; flex-wrap: wrap;justify-content: space-around}
#smApplyBox{width: 260px; height: 180px;}
#smApplyBox > div{ width: 350px; height: 150px; display: flex; flex-direction: row; box-shadow: 5px 5px 5px rgba(0,0,0,0.5)}
#smApplyBox > a > div > div {width: 130px; height: 150px; position: relative;}
#smApplyBox_contents {display: flex; border: 1px solid rgba(0, 0, 0, 0.2);}
#smApplyBox_info {background-color: #0F36C3;}
#smApplyBox_img {margin-right: 10px; display: flex; align-items: center;}
#smApplyBox_img img { width: 130px; height: 130px; margin-right: 0px;}
#smApplyBox > a > div > div > div{width:80px; height:20px; background-color: red; border-radius: 10px; text-align: center; color: #ffffff; line-height: 20px; position: absolute; left: 20px; top: 20px; box-shadow: 3px 3px 3px rgba(0,0,0,0.5)}
#smApplyBox > a > div > div > h1{font-size: 20px; color: #ffffff; font-weight: bold; text-shadow: 3px 3px 3px rgba(0,0,0,0.5); position: absolute; left: 20px; top: 60px;}
/*#smApplySpan {width: 20px; background-color: #0F36C3; margin-left: 30px; position: absolute;}*/
/*#smApplyBox > a > div > img{width: 80px; height: 80px; position: absolute;}*/
/*#smApplyBox > a > div > img{width: 80px; height: 80px; }*/
#smApplyBox > a > p{padding: 8px;color: rgba(0,0,0,0.8); font-size: 15px; font-weight: bold; text-shadow: 2px 2px 2px rgba(0,0,0,0.5)}
/*
*   seminar.jsp
*   세미나 소개 페이지
*/
#smDetailInfo{width: 960px;margin: 50px auto;}
#smDetailInfo > div{margin-top: 20px;}
#smDetailInfo > div > h1{color: rgba(0,0,0,0.7); font-size: 30px; font-weight: bold; line-height: 50px;}
#smDetailInfo > hr{margin-top: 20px; color: rgba(0,0,0,0.2);}
#smDetailInfo > div > div{display: flex; flex-direction: row;}
#smDetailInfo > div > div > img{width: 50px; height: 50px;}
#smDetailInfo > div > div > h1{margin-bottom: 20px; color: rgba(0,0,0,0.7); font-size: 30px; font-weight: bold; line-height: 50px;}
#smDetailInfo > div > h2{margin-bottom: 20px;}
#smDetailInfo > div > h3{color: red;}
.sminputTxt{box-shadow: 5px 5px 5px rgba(0,0,0,0.2);border: 1px solid rgba(0,0,0,0.1); border-radius: 5px;width: 100%; height: 60px; font-size:20px;}
/*.className{box-shadow: 5px 5px 5px rgba(0,0,0,0.2);border: 1px solid rgba(0,0,0,0.1); border-radius: 5px;width: 20%; height: 60px;}*/
/*.category{box-shadow: 5px 5px 5px rgba(0,0,0,0.2);border: 1px solid rgba(0,0,0,0.1); border-radius: 5px;width: 20%; height: 60px;}*/
.Date{box-shadow: 5px 5px 5px rgba(0,0,0,0.2);border: 1px solid rgba(0,0,0,0.1); border-radius: 5px; width: 45%; height: 60px; font-size: 20px;}
.Time{box-shadow: 5px 5px 5px rgba(0,0,0,0.2);border: 1px solid rgba(0,0,0,0.1); border-radius: 5px; width: 100%; height: 60px; background-color: rgba(0,0,0,0.1); font-size: 20px;}
#smTable{height: 300px; width: 100%;  background-color: rgba(0,0,0,0.1); border-radius: 10px; text-align: center; box-shadow: 5px 5px 5px rgba(0,0,0,0.2);}
#smTable tr{font-size: 20px; height: 60px;}
#smTable tr > th, #smTable tr > td{line-height: 60px;}
