@charset "utf-8";

/* 초기화 파일 외에 초기화 */
#wrap input {
    box-sizing: border-box; /* 내용과 패딩을 포함한 전체 너비와 높이를 정의합니다. */
    margin: 0; /* 외부 여백을 초기화합니다. */
    padding: 0; /* 내부 여백을 초기화합니다. */
    border: none;
}
/* 포커스 시 기본 아웃라인 제거 */
#wrap input:focus {outline: none;}
#wrap input[type="text"], input[type="password"]{ width: 300px; height: 50px; font-size: 15px;}
#wrap{margin: 80px auto; width:960px;}
#wrap img{width: 50px; height: 50px;}
#wrap > div{border: 1px solid rgb(128, 128, 128); width: 60%; margin: 20px auto; border-radius: 15px;box-shadow: 5px 5px 5px rgba(0,0,0,0.5)}
#wrap > div > div{display: flex; position: relative;}
#wrap > div > div img{margin: 0px 50px 0px 50px}
#wrap > div > div {border-bottom: 1px solid rgb(128, 128, 128);}
#signupHeader{display: flex; flex-direction: row; justify-content: center;}
#signupHeader h1{line-height: 50px; font-size: 50px; margin-left: 30px;}
#idChkBtn, #emailChkBtn{border:none; width: 130px; cursor: pointer;}
#idChkBtn{border-radius: 0px 15px 0px 0px;}
#idChkBtn:hover{ cursor: pointer; background-color: rgba(0,0,0,0.1); }
#emailChkBtn:hover{ cursor: pointer; background-color: rgba(0,0,0,0.1); }
#phoneBox{display: flex; flex-direction: row; align-items: center;}
#phoneBox label{line-height: 50px;margin: 0 12px;}



.radioBox{display: flex; flex-direction: row; align-items: center;}
/* 라디오 버튼 스타일 */
.radio-label input[type="radio"] {display: none; }
/* 선택된 라디오 버튼의 스타일 */
#male:checked + span {width: 150px;height: 30px;border-radius: 9px 0px 0px 9px;background-color: #2196F3;color: #fff;}
#female:checked + span {width: 150px;height: 30px;border-radius: 0px 9px 9px 0px;background-color: #2196F3;color: #fff;}
.radio-label span{cursor: pointer;background-color: #fff;display: inline-block;width: 150px;height: 30px;text-align: center;line-height: 30px;border-radius: 10px;}
.radio-label span:hover{ background-color: rgba(0,0,0,0.1); }
#radioBtn{border: 1px solid rgb(128, 128, 128); border-radius: 10px; display:flex; flex-direction: row;}
#btnBox{ width: 300px;  display: flex; flex-direction: row; justify-content: center;}
#signupBtn{width: 200px;height: 50px; border-radius: 15px;font-size: 30px;text-align: center; line-height: 50px; background-color: #18214F; color: #fff; cursor: pointer; box-shadow: 5px 5px 5px rgba(0,0,0,0.5)}
#cancleBtn{width: 200px;height: 50px; border-radius: 15px;font-size: 30px;text-align: center; line-height: 50px; background-color: #FF4646; color: #fff; cursor: pointer; box-shadow: 5px 5px 5px rgba(0,0,0,0.5)}
#memberDel{background-color: white;cursor: pointer;color: #666666}

#termsBox > div{height: 50px;}
#termsBox > div > input{width: 20px; height: 20px; margin-left: 65px; margin-top: 15px;margin-right: 30px;}
#termsBox > div > p{line-height: 50px;color: rgba(0,0,0,0.8);}
.termsDetail{margin-left: auto;}
.termsDetail span{color: rgba(0,0,0,0.5); margin-right: 10px; cursor: pointer;}