@charset "utf-8";

/* 초기화 파일 외에 초기화 */
input {
    box-sizing: border-box; /* 내용과 패딩을 포함한 전체 너비와 높이를 정의합니다. */
    margin: 0; /* 외부 여백을 초기화합니다. */
    padding: 0; /* 내부 여백을 초기화합니다. */
    font-family: inherit; /* 폰트를 부모 요소에서 상속받습니다. */
    font-size: inherit; /* 폰트 크기를 부모 요소에서 상속받습니다. */
    line-height: inherit; /* 줄 높이를 부모 요소에서 상속받습니다. */
}
/* 포커스 시 기본 아웃라인 제거 */
input:focus {outline: none;}
input[type="text"],input[type="password"]{border: none;width: 300px;height: 50px;}
#wrap{margin: 0 auto; width:960px;margin-top: 50px; margin-bottom: 50px;}
#wrap img{width: 50px; height: 50px;}
#wrap > div{border: 1px solid rgb(128, 128, 128); width: 60%; margin: 0 auto; border-radius: 15px;}
#wrap > div > div{display: flex; position: relative;}
#wrap > div > div img{margin: 0px 50px 0px 50px}
#wrap > div > div {border-bottom: 1px solid rgb(128, 128, 128);}
#signupHeader{display: flex; flex-direction: row; justify-content: center;}

#signupHeader h1{line-height: 50px; font-size: 50px; margin-left: 30px;}
#idChkBtn, #emailChkBtn{border:none; width: 130px;}
#idChkBtn{border-radius: 0px 15px 0px 0px;}
#phone1,#phone2,#phone3{width: 80px; height: 30px; border:  1px solid rgb(128, 128, 128); border-radius: 10px;}
#phone1,#phone2{margin-right: 15px;}
#phone2,#phone3{margin-left: 15px;}
#phoneBox{display: flex; flex-direction: row; align-items: center;}
#phoneBox label{line-height: 50px;}


.radioBox{display: flex; flex-direction: row; align-items: center;}
/* 라디오 버튼 스타일 */
.radio-label input[type="radio"] {display: none; }
/* 선택된 라디오 버튼의 스타일 */
#male:checked + span {width: 150px;height: 30px;border-radius: 9px 0px 0px 9px;background-color: #2196F3;color: #fff;}
#female:checked + span {width: 150px;height: 30px;border-radius: 0px 9px 9px 0px;background-color: #2196F3;color: #fff;}
.radio-label span{cursor: pointer;background-color: #fff;display: inline-block;width: 150px;height: 30px;text-align: center;line-height: 30px;border-radius: 10px;}
#radioBtn{border: 1px solid rgb(128, 128, 128); border-radius: 10px; display:flex; flex-direction: row;}

#signupBtn{width: 150px;height: 50px; font-size: 30px;text-align: center; line-height: 50px; background-color: #18214F; color: #fff; cursor: pointer;}