<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberDto" type="com.jscd.app.member.dto.MemberDto"/>
		<typeAlias alias="InstructorInfoDto" type="com.jscd.app.admin.dto.InstructorInfoDto"/>
		<typeAlias alias="InstructorMemberInfoDto" type="com.jscd.app.admin.dto.InstructorMemberInfoDto"/>
		<typeAlias alias="StdManageDto" type="com.jscd.app.admin.dto.StdManageDto"/>
		<typeAlias alias="StdMemberManageDto" type="com.jscd.app.admin.dto.StdMemberManageDto"/>

		<typeAlias alias="BtApplicationDto" type="com.jscd.app.applyTraining.dto.BtApplicationDto"/>
		<typeAlias alias="SmApplicationDto" type="com.jscd.app.applyTraining.dto.SmApplicationDto"/>

		<typeAlias alias="CourseDto" type="com.jscd.app.lecture.course.dto.CourseDto"/>
		<typeAlias alias="RoundDto" type="com.jscd.app.lecture.round.dto.RoundDto"/>
		<typeAlias alias="ClassEnrollDto" type="com.jscd.app.lecture.classEnroll.dto.ClassEnrollDto"/>
		<typeAlias alias="lstRegistDto"  type="com.jscd.app.lecture.lstRegist.dto.LstRegistDto"/>
		<typeAlias alias="LectureApplyDto"  type="com.jscd.app.lecture.lstRegist.dto.LectureApplyDto"/>

		<typeAlias alias="SearchCondition" type="com.jscd.app.admin.domain.SearchCondition"/>
		<typeAlias alias="AllqnaDto" type="com.jscd.app.board.qna.qnaDto.AllqnaDto"/>
		<typeAlias alias="AllqnacDto" type="com.jscd.app.board.qna.qnaDto.AllqnacDto"/>
		<typeAlias alias="AdminDto" type="com.jscd.app.admin.dto.AdminDto"/>
		<typeAlias alias="LockerDto" type="com.jscd.app.facility.dto.LockerDto"/>
		<typeAlias alias="MemberManageDto" type="com.jscd.app.admin.dto.MemberManageDto"/>

		<typeAlias alias="noticeDto" type="com.jscd.app.board.notice.dto.noticeDto"/>
		<typeAlias alias="SearchCon" type="com.jscd.app.board.notice.dto.SearchCon"/>
		<typeAlias alias="AttachDto" type="com.jscd.app.board.qna.qnaDto.AttachDto"/>

	</typeAliases>
</configuration>