<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberDto" type="com.jscd.app.member.dto.MemberDto"/>
		<typeAlias alias="InstructorInfoDto" type="com.jscd.app.admin.dto.InstructorInfoDto"/>
		<typeAlias alias="InstructorMemberInfoDto" type="com.jscd.app.admin.dto.InstructorMemberInfoDto"/>
		<typeAlias alias="StdManageDto" type="com.jscd.app.admin.dto.StdManageDto"/>
		<typeAlias alias="StdMemberManageDto" type="com.jscd.app.admin.dto.StdMemberManageDto"/>
		<typeAlias alias="bootCampDto" type="com.jscd.app.lecture.bootCamp.dto.BootCampDto"/>
		<typeAlias alias="SeminarRegistDto" type="com.jscd.app.lecture.seminar.dto.SeminarRegistDto"/>
		<typeAlias alias="SearchCondition" type="com.jscd.app.admin.domain.SearchCondition"/>
		<typeAlias alias="AllqnaDto" type="com.jscd.app.board.qna.qnaDto.AllqnaDto"/>
		<typeAlias alias="AllqnacDto" type="com.jscd.app.board.qna.qnaDto.AllqnacDto"/>
		<typeAlias alias="AdminDto" type="com.jscd.app.admin.dto.AdminDto"/>
	</typeAliases>
</configuration>