<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jscd.app.mapper.adminMapper">


    <!--  회원정보관리에서 관리자로 등급 업데이트 시, 관리자 테이블에 insert -->
    <insert id="insertAdmin" parameterType="AdminDto">
        insert into admin
            (id, name, pwd)
        values (#{id}, #{name}, #{pwd})
    </insert>

    <!--   관리자 수-->
    <select id="countAdmin" resultType="int">
        select count(*)
        from admin;
    </select>

    <!--    select 쿼리문-->
    <sql id="selectAdmin">
        select id,
               name,
               nickname,
               birth,
               pwd,
               phone,
               status,
               grade,
               regDate
        from admin
    </sql>

    <!--    select : 로그인 시, 관리자 정보 확인-->
    <select id="selectAdmin" parameterType="String" resultType="AdminDto">
        <include refid="selectAdmin"/>
        where id = #{id}
    </select>

    <!--    selectAll : 관리자 전체 정보 관리-->
    <select id="selectAllAdmin" resultType="AdminDto">
        <include refid="selectAdmin"/>
        order by name
    </select>

    <!--    update : 관리자 정보 수정-->
    <update id="updateAdmin" parameterType="AdminDto">
        update admin
        set nickname   = #{nickname},
            birth      = #{birth},
            phone      = #{phone},
            modifyDate = now()
        where id = #{id}
    </update>

    <!--    delete : 정보 삭제-->
    <delete id="deleteAdmin" parameterType="String">
        delete
        from admin
        where id = #{id}
    </delete>

    <!--    deleteAll : 전체 삭제-->
    <delete id="deleteAllAdmin">
        delete
        from admin
    </delete>

</mapper>
