<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jscd.app.mapper.CouponMapper">

<!--    <insert id="insertCoupons" parameterType="java.util.List">-->
<!--        INSERT INTO couponDetail-->
<!--        (couponID, couponNO, issueDateTime, startUseDate, endUseDate, usableStartTime, usableEndTime, useAvailable, regDate)-->
<!--        VALUES-->
<!--        <foreach collection="list" item="coupon" separator=",">-->
<!--            (#{coupon.couponID}, #{coupon.couponNO}, now(), #{coupon.startUseDate}, #{coupon.endUseDate}, #{coupon.usableStartTime}, #{coupon.usableEndTime},'y', now())-->
<!--        </foreach>-->
<!--    </insert>-->

<!--    <insert id="insertCoupons" parameterType="java.util.List">-->
<!--        INSERT INTO couponDetail-->
<!--        (couponID, couponNO,  )-->
<!--        VALUES-->
<!--        <foreach collection="list" item="coupon" separator=",">-->
<!--            (#{coupon.couponID}, #{coupon.couponNO})-->
<!--        </foreach>-->
<!--    </insert>-->

    <insert id="insertCoupons" parameterType="List">
        INSERT INTO couponDetail
        (couponID, couponNO, issueDateTime, startUseDate, endUseDate, usableStartTime, usableEndTime, useAvailable, regDate)
        VALUES
        <foreach collection="list" item="coupon" separator=",">
            (#{coupon.couponID}, #{coupon.couponNO}, now(), #{coupon.startUseDate}, #{coupon.endUseDate}, #{coupon.usableStartTime}, #{coupon.usableEndTime},'y', now())
        </foreach>
    </insert>

    <select id="selectByCouponID" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM couponDetail WHERE couponID = #{couponID}
    </select>


    <insert id="insertCoupon" parameterType="CouponDto">
        INSERT INTO couponDetail
        (couponID, couponNO)
        VALUES (#{couponID}, #{couponNO})
    </insert>



</mapper>
