<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jscd.app.mapper.instructorInfoMapper">

    <!--강사 정보 관리 -->

    <!-- 회원 정보 관리에서 등급이 강사로 변경 -> 강사 정보 insert -->
    <insert id="insert" parameterType="InstructorInfoDto">
        insert into instructorInfo
            (mebrNo,regDate,modifyDate)
        value  (#{mebrNo},now(),now())
    </insert>

    <!--    강사 인원수-->
    <select id="count" resultType="int">
        select count(*)
        from instructorInfo
    </select>

    <sql id="selectInstructor">
        select i.iscrNo,
               i.mebrNo,
               m.id,
               m.name,
               m.birth,
               m.phone,
               i.intro,
               a.status,
               i.hourPmt,
               m.acct,
               i.regDate,
               i.etc
        from member m
                 join instructorInfo i
                      on i.mebrNo = m.mebrNo
                 join (select ctNum, codeName as status from allCode where ctId = "A001") a
                      on i.status = a.ctNum
    </sql>

    <!-- 강사 전체 정보 확인(강사 + 회원 조인)-->
    <select id="selectAll" parameterType="map" resultType="InstructorMemberInfoDto">
        <include refid="selectInstructor"/>
        order by i.iscrNo asc
        limit #{offset}, #{pageSize};
    </select>

    <!--  강사 정보 상세 확인-->
    <select id="select" parameterType="Map" resultType="InstructorMemberInfoDto">
        <include refid="selectInstructor"/>
        where i.iscrNo = #{iscrNo};
    </select>

    <!-- update-->
    <update id="update" parameterType="InstructorInfoDto">
        update instructorInfo
        set intro      = #{intro}
          , status     = #{status}
          , hourPmt    = #{hourPmt}
          , etc        = #{etc}
          , modifyDate = now()
        where iscrNo = #{iscrNo}
    </update>

    <!-- 메인화면 수정-->
    <update id="updateStatus" parameterType="map">
        update instructorInfo
        set status = ${status}
        , modifyDate = now()
        where mebrNo in
        <foreach collection="mebrNo" item="mebrNo" open="(" close=")" separator=",">
            #{mebrNo}
        </foreach>
    </update>


    <!--    탈퇴하거나(회원), 등급 조정 시(관리자) ->매개변수로 회원고유번호가 적합 delete-->
    <delete id="delete" parameterType="Integer">
        delete
        from instructorInfo
        where mebrNo = #{mebrNo}
    </delete>

    <delete id="deleteAll">
        delete
        from instructorInfo
    </delete>


    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND m.name LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND m.id LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND a.status LIKE concat('%', #{keyword}, '%')
            </otherwise>
        </choose>
    </sql>

    <!--    검색 조건 select문-->
    <select id="searchSelectPage" parameterType="SearchCondition" resultType="InstructorMemberInfoDto">
        <include refid="selectInstructor"/>
        WHERE true
        <include refid="searchCondition"/>
        order by i.iscrNo asc
        limit #{offset},#{pageSize};
    </select>

    <!--검색 결과 개수(몇개인지 알아야 페이징처리 할 수 있다) 회원컬럼을 조건으로 검색하기 때문에, 조인 필요-->
    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        from member m
        join instructorInfo i
        on i.mebrNo = m.mebrNo
        join (select ctNum,codeName as status from allCode where ctId = "A001") a
        on i.status = a.ctNum
        <include refid="searchCondition"/>
    </select>

</mapper>
