<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--관리자 회원관리-->
<mapper namespace="com.jscd.app.mapper.memberManageMapper">

    <!--    회원 인원수-->
    <select id="count" resultType="int">
        select count(*)
        from Member
    </select>

    <sql id="selectMember">
        select mebrNo,
               id,
               name,
               birth,
               nickname,
               concat(phone1, phone2, phone3) as phone,
               acct,
               status,
               grade,
               regDate,
               etc
        from member
    </sql>

    <!--    검색 조건 select-->
    <select id="searchSelectPage" parameterType="SearchCondition" resultType="MemberDto">
        <include refid="selectMember"/>
        WHERE true
        <include refid="searchCondition"/>
        order by mebrNo
        limit #{offset},#{pageSize};
    </select>

    <!--검색 결과 개수(몇개인지 알아야 페이징처리 할 수 있다)-->
    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        select count(*)
        FROM member
        WHERE true
        <include refid="searchCondition"/>
    </select>

    <!-- 회원 전체 정보-->
    <select id="selectAll" parameterType="Map" resultType="MemberDto">
        <include refid="selectMember"/>
        order by mebrNo asc
        limit #{offset}, #{pageSize}
    </select>

    <!--회원 이름 클릭 시, 상세 정보-->
    <select id="select" parameterType="Integer" resultType="MemberDto">
        <include refid="selectMember"/>
        where mebrNo = #{mebrNo}
    </select>

    <!--    update _ 등급 변경(메인화면에서 사용할 예정)-->
    <update id="update" parameterType="MemberDto">
        update member
        set grade      = #{grade}
          , modifyDate = now()
        where mebrNo = #{mebrNo}
    </update>


    <!-- update _ 상세정보로 들어갔을 때-->
    <update id="updateDetail" parameterType="MemberDto">
        update member
        set status     = #{status}
          , grade      = #{grade}
          , etc        = #{etc}
          , modifyDate = now()
        where mebrNo = #{mebrNo}
    </update>

    <delete id="delete" parameterType="Integer">
        delete
        from member
        where mebrNo = #{mebrNo}
    </delete>

    <delete id="deleteAll">
        delete
        from member
    </delete>

    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND name LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND id LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="R"'>
                and grade like concat('%',#{keyword},'%')
            </when>
            <otherwise>
                and status like concat('%',#{keyword},'%')
            </otherwise>
        </choose>
    </sql>



</mapper>
