<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--관리자 회원관리-->
<mapper namespace="com.jscd.app.mapper.memberManageMapper">

    <!--    회원 인원수-->
    <select id="count" resultType="int">
        select count(*)
        from Member
    </select>

    <sql id="selectMember">
        select m.mebrNo,
               m.id,
               m.name,
               m.birth,
               m.nickname,
               m.pwd,
               g.gender,
               concat(m.phone1, m.phone2, m.phone3) as phone,
               m.acct,
               s.status,
               d.grade,
               m.regDate,
               m.etc
        from member m
                 join (select ctNum, codeName as gender from allCode where ctId = "G001") g
                      on m.gender = g.ctNum
                 join (select ctNum, codeName as status from allCode where ctId = "M001") s
                      on m.status = s.ctNum
                 join (select ctNum, codeName as grade from allCode where ctId = "M002") d
                      on m.grade = d.ctNum
    </sql>

    <!--    검색 조건 select-->
    <select id="searchSelectPage" parameterType="SearchCondition" resultType="MemberManageDto">
        <include refid="selectMember"/>
        WHERE true
        <include refid="searchCondition"/>
        order by mebrNo
        limit #{offset},#{pageSize};
    </select>

    <!--검색 결과 개수(몇개인지 알아야 페이징처리 할 수 있다)-->
    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        select count(*)
        from member m
        join (select ctNum,codeName as gender from allCode where ctId = "G001") g
        on m.gender = g.ctNum
        join (select ctNum,codeName as status from allCode where ctId = "M001") s
        on m.status = s.ctNum
        join (select ctNum,codeName as grade from allCode where ctId = "M002") d
        on m.gender = d.ctNum
        <include refid="searchCondition"/>
    </select>

    <!-- 회원 전체 정보-->
    <select id="selectAll" parameterType="Map" resultType="MemberDto">
        <include refid="selectMember"/>
        order by mebrNo asc
        limit #{offset}, #{pageSize}
    </select>

    <!--회원 이름 클릭 시, 상세 정보-->
    <select id="select" parameterType="Integer" resultType="MemberManageDto">
        <include refid="selectMember"/>
        where mebrNo = #{mebrNo}
    </select>

<!--    update을 위해 일단 추가..-->
    <select id="selectMember" parameterType="Integer" resultType="MemberDto">
        select * from member
        where mebrNo = #{mebrNo}
    </select>

    <!--    update _ 등급 변경(메인화면에서 사용할 예정)-->
    <update id="update" parameterType="map">
        update member
        set grade= #{grade}
        ,status = #{status}
        , modifyDate = now()
        where mebrNo in
        <foreach collection="mebrNo" item="mebrNo" open="(" close=")" separator=",">
            #{mebrNo}
        </foreach>
    </update>


    <!-- update _ 상세정보로 들어갔을 때-->
    <update id="updateDetail" parameterType="MemberDto">
        update member
        set status     = #{status}
          , grade      = #{grade}
          , etc        = #{etc}
          , modifyDate = now()
        where mebrNo = #{mebrNo}
    </update>

    <delete id="delete" parameterType="Integer">
        delete
        from member
        where mebrNo = #{mebrNo}
    </delete>

    <delete id="deleteAll">
        delete
        from member
    </delete>

    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND m.name LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND m.id LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="R"'>
                and d.grade like concat('%',#{keyword},'%')
            </when>
            <otherwise>
                and s.status like concat('%',#{keyword},'%')
            </otherwise>
        </choose>
    </sql>


</mapper>
