<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jscd.app.applyTraining.btApplicationMapper">

    <!--    (관리자 전용) 부트캠프 신청서 현황 페이지 페이징에 사용-->
    <select id="count" resultType="int">
        select count(*) from btstform
    </select>

    <!--    (관리자 전용) 부트캠프 신청서 전부 삭제하기-->
    <delete id="deleteAll">
        delete from btstform
    </delete>

    <!--    (관리자 전용) 부트캠프 신청서 하나 삭제하기-->
    <delete id="delete" parameterType="int">
        delete from btstform
        where stfmNo
    </delete>

    <!--    (관리자 전용) 모든 신청서 불러오기-->
    <select id="selectAll" resultType="BtApplicationDto">
        select * from btstform
        order by stfmNo desc
    </select>

    <!--    (관리자 전용) 신청서 하나 읽기-->
    <select id="select" parameterType="int" resultType="BtApplicationDto">
        select * from btstform
        where stfmNo = #{stfmNo}
    </select>

    <!--    (관리자 전용) 부트캠프 신청서 현황 페이지 페이징-->
    <select id="selectPage" parameterType="map" resultType="BtApplicationDto">
        select * from btstform
        order by stfmNo desc
            limit #{offset}, #{pageSize}
    </select>

    <!--    (관리자 전용) 부트캠프 신청서 수정 및 승인시 사용-->
    <update id="update" parameterType="BtApplicationDto">
        update btstform
        set  status = #{status}, level = #{level}, levelDetail = #{levelDetail}, attdPps = #{attdPps}, attdPath = #{attdPath}, intro = #{intro},
             expect = #{expect}, agreeYN = #{agreeYN}, approvalYN = #{approvalYN}, modifyDate = now()
        where stfmNo = #{stfmNo};
    </update>

    <update id="updateLectureapply" parameterType="BtApplicationDto">
        update lectureapply
        set approvalYN = #{approvalYN}
        where stfmNo = #{stfmNo};
    </update>

    <!--    폼 제출시 lectureapply테이블에 같이 insert-->
    <insert id="lectureApplyInsert" parameterType="BtApplicationDto">
        insert into lectureapply(id, registCode, stfmNo)
        values (#{id}, #{registCode}, #{stfmNo})
    </insert>

    <!--    (신청자 전용) 신청서 제출시 사용하는 insert-->
    <insert id="insert" parameterType="BtApplicationDto">
        insert into btstform (mebrNO, id, registCode, title, lastPrice, status, level, levelDetail, attdPps,
        attdPath, intro, expect, agreeYN)
        values (#{mebrNO}, #{id}, #{registCode}, #{title}, #{lastPrice}, #{status}, #{level}, #{levelDetail}, #{attdPps},
        #{attdPath}, #{intro}, #{expect}, #{agreeYN})
        <selectKey keyProperty="stfmNo" resultType="BtApplicationDto" order="AFTER">
            SELECT *
            FROM btstform
            WHERE stfmNo = LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--    (신청자 전용) 신청서 페이지 이동시 중복 신청 검색-->
    <select id="confirmApplication" parameterType="BtApplicationDto" resultType="int">
        select count(*)
        from btstform
        where registCode = #{registCode} and id = #{id}
    </select>

    <sql id="searchApplication">
        <choose>
            <when test='option=="title"'>
                and title like concat('%', #{keyword}, '%')
            </when>
            <when test='option=="id"'>
                and id like concat('%', #{keyword}, '%')
            </when>
            <when test='option=="approvalYN"'>
                and approvalYN like concat(#{keyword}, '%')
            </when>
            <otherwise>
                and (title like concat('%', #{keyword}, '%')
                or id like concat('%', #{keyword}, '%')
                or approvalYN like concat(#{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>

    <select id="searchSelectPage" parameterType="SearchApplication" resultType="BtApplicationDto">
        select * from btstform
        where true
        <include refid="searchApplication"/>
        order by stfmNo desc
        limit #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchApplication" resultType="int">
        select count(*)
        from btstform
        where true
        <include refid="searchApplication"/>
    </select>

    <!-- 승인대기중 부트캠프 신청폼 개수-->
    <select id="countWaiting" resultType="int">
        select count(*)
        from btstform
        where approvalYN = '대기 중'
    </select>

    <!-- 승인 부트캠프 신청폼 개수-->
    <select id="countApproval" resultType="int">
        select count(*)
        from btstform
        where approvalYN = '승인'
    </select>

    <!-- 미승인 부트캠프 신청폼 개수-->
    <select id="countNotApproval" resultType="int">
        select count(*)
        from btstform
        where approvalYN = '미승인'
    </select>

    <!-- 결제대기 부트캠프 신청폼 개수-->
    <select id="countWaitPay" resultType="int">
        select count(*)
        from btstform as a , lectureapply as b
        where a.approvalYN = '승인' and a.registCode = b.registCode and b.status = 'notPaid'
    </select>

    <!-- 등록 부트캠프 신청폼 개수-->
    <select id="countRegist" resultType="int">
        select count(*)
        from btstform as a , lectureapply as b
        where a.approvalYN = '승인' and a.registCode = b.registCode and b.status = 'Paid'
    </select>

</mapper>
