<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jscd.app.board.qna.allqnaMapper">
<!--    1-1. 게시글 등록-->
    <insert id="insert" parameterType="allqnaDto">
        INSERT INTO allQnA
            (title, content, writer, openYN, regDate)
        VALUES
            (#{title}, #{content}, #{writer}, #{openYN}, now())
    </insert>
<!--    1-2. 게시글 목록 읽기-->
    <select id="selectAll" resultType="allqnaDto">
        SELECT *
        FROM allQnA
    </select>

    <sql id="selectFromAllQnA">
        SELECT allqnaNo, title, writer, content, hit, openYN, regDate
        FROM allQnA
    </sql>

<!--    1-3. 게시글 1개 읽기-->
    <select id="select" parameterType="int" resultType="AllqnaDto">
        <include refid="selectFromAllQnA"/>
        WHERE allqnaNo = #{allqnaNo}
    </select>

<!--    1-4. 게시글 수정-->
    <update id="update" parameterType="allqnaDto">
        UPDATE allQnA
        SET   title = #{title}
          , content = #{content}
          , writer = #{writer}
          , regDate = now()
        WHERE allqnaNo = #{allqnaNo}
    </update>
<!--    1-5. 게시글 삭제-->
    <delete id="delete" parameterType="map">
        DELETE FROM allQnA WHERE allqnaNo = #{allqnaNo} and writer = #{writer}
    </delete>

    <!--2-1 댓글 목록-->
    <select id="cmtSelect" resultType="allqnaDto">
        SELECT allqnaCmtNum, allqnaCmtNo, allqnaNo, cmtWriter, cmtContent, regDate, firstIdNo, modifyDate, lastIdNo
        FROM allqnacmt
        WHERE allqnaNo = #{allqnaNo}
        AND allqnaCmtReplyNO is NULL;
    </select>
    <!--2-2 댓글 등록-->
    <insert id="cmtInsert" parameterType="allqnaDto">
        <selectKey keyProperty="allqnaCmtNo" resultType="int" order="BEFORE">
            SELECT COALESCE(MAX(allqnaCmtNo)+1,1) AS newCmtNo
            FROM allqnacmt
            WHERE allqnaNo = #{allqnaNo}
        </selectKey>
            INSERT INTO allqnacmt (allqnaCmtNo, allqnaNo, cmtWriter, cmtContent, regDate, firstIdNo, etc)
            VALUES (#{allqnaCmtNo}, #{allqnaNo}, #{cmtWriter}, #{cmtContent}, now(), #{firstIdNo}, #{etc})
    </insert>
    <!--2-3 댓글 수정-->
    <update id="cmtUpdate" parameterType="allqnaDto">
        UPDATE allqnacmt
        SET cmtContent = #{cmtContent}
          , cmtWriter = #{cmtWriter}
          , modifyDate = now()
        WHERE allqnaNo = #{allqnaNo}
        AND allqnaCmtNo = #{allqnaCmtNo}
    </update>
    <!--2-4 댓글 삭제-->
    <delete id="cmtDelete" parameterType="allqnaDto">
        DELETE
        FROM   allqnacmt
        WHERE allqnaNo = #{allqnaNo}
        AND allqnaCmtNo = #{allqnaCmtNo}
        AND cmtWriter = #{cmtWriter}

    </delete>

<!--    4-1 대댓글 등록-->
    <insert id="cmtReplyInsert" parameterType="allqnaDto">
        <selectKey keyProperty="allqnaCmtReplyNo" resultType="int" order="BEFORE">
            SELECT COALESCE(MAX(allqnaCmtReplyNo)+1,1) AS newCmtReplyNo
            FROM allqnacmt
            WHERE
                allqnaNo = #{allqnaNo}
            AND
                allqnaCmtNo = #{allqnaCmtNo}
        </selectKey>
        INSERT INTO allqnacmt (allqnaCmtNo, allqnaNo, cmtWriter, cmtContent, allqnaCmtReplyNo, regDate, firstIdNo, etc)
        VALUES (#{allqnaCmtNo}, #{allqnaNo}, #{cmtWriter}, #{cmtContent}, #{allqnaCmtReplyNo}, now(), #{firstIdNo}, #{etc})
    </insert>
<!--    4-2 대댓글 목록-->
    <select id="cmtReplySelect" resultType="allqnaDto">
        SELECT allqnaCmtNum, allqnaCmtNo, allqnaNo, allqnaCmtReplyNo, cmtWriter, cmtContent, regDate, firstIdNo, modifyDate, lastIdNo
        FROM allqnacmt
        WHERE allqnaCmtNo = #{allqnaCmtNo}
        AND allqnaCmtReplyNO is NOT NULL
    </select>
<!--    4-3 대댓글 수정-->
    <update id="cmtReplyUpdate" parameterType="allqnaDto">
        UPDATE allqnacmt
        SET cmtContent = #{cmtContent}
          , cmtWriter = #{cmtWriter}
          , modifyDate = now()
        WHERE allqnaCmtNo = #{allqnaCmtNo}
          AND allqnaCmtReplyNo = #{allqnaCmtReplyNo}
    </update>
<!--    4-4 대댓글 삭제-->
    <delete id="cmtReplyDelete" parameterType="allqnaDto">
        DELETE
        FROM   allqnacmt
        WHERE allqnaCmtNo = #{allqnaCmtNo}
          AND allqnaCmtReplyNo = #{allqnaCmtReplyNo}

    </delete>

<!--    5 비밀글 제외-->
<!--    6 내가 작성한 글 보기-->

<!--    7 게시글 페이징 처리-->
    <sql id="searchCondition">
        <choose>
            <when test='option=="T"'>
                AND title LIKE concat('%', #{keyword}, '%')
            </when>
            <when test='option=="W"'>
                AND writer LIKE concat('%', #{keyword}, '%')
            </when>
            <otherwise>
                AND (title   LIKE concat('%', #{keyword}, '%')
                OR   content LIKE concat('%', #{keyword}, '%'))
            </otherwise>
        </choose>
    </sql>

    <select id="searchSelectPage" parameterType="SearchCondition" resultType="AllqnaDto">
        SELECT allqnaNo, title, content, writer, hit, openYN, regDate
        FROM  allQnA
        WHERE true
        <include refid="searchCondition"/>
        ORDER BY regDate DESC, allqnaNo DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM  allQnA
        WHERE true
        <include refid="searchCondition"/>
    </select>


<!--    9. 조회수 처리-->
    <update id="increaseViewCnt" parameterType="int">
        UPDATE allQnA
        SET   hit = hit + 1
        WHERE allqnaNo = #{allqnaNo}
    </update>

</mapper>