<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jscd.app.board.qna.allqnacmmtMapper">

    <insert id="insert" parameterType="allqnacDto">

        INSERT INTO allQnAC (allqnaCNo, allqnaNo, writer, content, regDate, frsidNmbr, modifyDate, lsticNmbr, etc)
        VALUES (#{allqnaCNo}, #{allqnaNo}, #{writer}, #{content}, now(), #{frsidNmbr}, #{modifyDate}, #{lsticNmbr},
                #{etc})

    </insert>

    <select id="selectAll" parameterType="int" resultType="allqnacDto">
        SELECT allqnaCNo, allqnaNo, writer, content, regDate
        FROM allQnAC
        WHERE allqnaNo = #{allqnaNo}
        ORDER BY regDate ASC, allqnaCNo ASC
    </select>


    <select id="select" parameterType="int" resultType="allqnacDto">
        SELECT allqnaCNo,
               allqnaNo,
               writer,
               content,
               regDate,
               frsidNmbr,
               modifyDate,
               lsticNmbr,
               etc
        FROM allQnAC
        WHERE allqnaCNo = #{allqnaCNo}
    </select>

    <update id="cmmtUpdate" parameterType="allqnacDto">
        UPDATE allQnAC
        SET content    = #{content}
          , modifyDate = now()
        WHERE allqnaCNo = #{allqnaCNo}
          and writer = #{writer}
    </update>


    <delete id="cmmtDelete" parameterType="Integer">
        DELETE
        FROM allQnAC
        WHERE allqnaCNo = #{allqnaCNo}
    </delete>



</mapper>