<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jscd.app.lecture.boot.BootCampMapper">
    <!--    전체 게시물 개수  -->
    <select id="count" resultType="int">
        select count(*) from classEnroll
        where subjectName like '%부트캠프%'
    </select>

    <!--    전체 게시물 삭제-->
    <delete id="deleteAll">
        delete from classEnroll
    </delete>

    <!--    게시물 삭제하기-->
    <delete id="delete" parameterType="map">
        delete from classEnroll
        where classEnrollNo = #{classEnrollNo} and writer = #{writer}
    </delete>

    <!--    게시물 삭제하기(최고 관리자 전용)-->
    <delete id="deleteForAdmin" parameterType="map">
        delete from classEnroll
        where classEnrollNo = #{classEnrollNo}
    </delete>

    <!--    게시물 추가하기-->
    <insert id="insert" parameterType="BootCampDto">
        insert into classEnroll (title, description, subjectName, roundName, onOff, status, location,
                                 minNum, maxNum, startDate, endDate, startTime, endTime, name, book,
                                 material, price, discount, lstPrice, etc, regDate, modifyDate)
        values (#{title}, #{description}, #{subjectName}, #{roundName},
                #{onOff}, #{status}, #{location}, #{minNum}, #{maxNum},
                #{startDate}, #{endDate}, #{startTime}, #{endTime}, #{name},
                #{book}, #{material}, #{price}, #{discount}, #{lstPrice}, #{etc}, now(), now())
    </insert>

    <!--    재사용 sql문-->
    <sql id="selectFromClassEnroll">
        select classEnrollNo, title, description, subjectName, roundName, onOff, status, location,
               minNum, maxNum, startDate, endDate, startTime, endTime, name, book,
               material, price, discount, lstPrice, etc, writer, viewCnt, regDate, modifyDate
        from classEnroll
    </sql>

    <!--    모든 게시물 불러오기 / (작성일 내림차순), (게시물 번호 내림차순)-->
    <select id="selectAll" resultType="BootCampDto">
        <include refid="selectFromClassEnroll"/>
        order by regdate desc, classEnrollNo desc
    </select>

    <!--    게시물 읽기-->
    <select id="select" parameterType="int" resultType="BootCampDto">
        <include refid="selectFromClassEnroll"/>
        where classEnrollNo = #{classEnrollNo}
    </select>

    <!--    현재 페이지 기준 게시물 10개씩 화면에 출력-->
    <select id="selectPage" parameterType="map" resultType="BootCampDto">
        <include refid="selectFromClassEnroll"/>
        where subjectName like '%부트캠프%'
        order by regdate desc, classEnrollNo desc
        limit #{offset}, #{pageSize}
    </select>

    <!--    게시물 수정하기-->
    <update id="update" parameterType="BootCampDto">
        update classEnroll
        set title=#{title}, description=#{description}, subjectName=#{subjectName}, roundName=#{roundName},
            onOff=#{onOff}, status=#{status}, location=#{location}, minNum=#{minNum}, maxNum=#{maxNum},
            startDate=#{startDate}, endDate=#{endDate}, startTime=#{startTime}, endTime=#{endTime}, name=#{name},
            book=#{book}, material=#{material}, price=#{price}, discount=#{discount}, lstPrice=#{lstPrice}, etc=#{etc}, modifyDate=now()
        where classEnrollNo = #{classEnrollNo} and writer = #{writer}
    </update>

    <!--    게시물 조회수 올리기-->
    <update id="increaseViewCnt" parameterType="int">
        update classEnroll
        set viewCnt = viewCnt + 1
        where classEnrollNo = #{classEnrollNo}
    </update>

<!--    &lt;!&ndash;  게시물 속아내기(부트캠프)  &ndash;&gt;-->
<!--    <select id="selectBootCamp" parameterType="BootCampDto">-->
<!--        <include refid="selectFromClassEnroll"/>-->
<!--        where codeNum like 'B%'-->
<!--    </select>-->

<!--    &lt;!&ndash;  게시물 속아내기(세미나)  &ndash;&gt;-->
<!--    <select id="selectSeminar" parameterType="BootCampDto">-->
<!--        <include refid="selectFromClassEnroll"/>-->
<!--        where codeNum like 'M%'-->
<!--    </select>-->
</mapper>